.grid {
    display: grid;
    border: 2px blue solid;
    width: 400px;
    height: 500px;
    grid-template: 1fr 1fr 1fr / 3fr 50% 1fr;
  }
  
  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }