/*
The main axis is used to position flex items with the following properties:
justify-content
flex-wrap
flex-grow
flex-shrink

The cross axis is used to position flex items with the following properties:
align-items
align-content
*/
body {
    margin: 0;
    border: 0;
    font-family: 'Roboto Mono', monospace;
  }
  
  h1 {
    font-size: 18px;
  }
  
  h2 {
    font-size: 14px;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  .container {
    background-color: dodgerblue;
    display: flex;
    max-height: 600px;
    align-items: center;
    justify-content: space-around;
  }
  
  .box {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    flex-grow: 1;
  }
  
  #row {
  flex-direction: row;
  }
  
  #row-reverse {
  flex-direction: row-reverse;
  }
  
  #column {
  flex-direction: column;
  }
  
  #column-reverse {
  flex-direction: column-reverse;
  }
  