*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: #EBEFE3;
}
@media only screen and (max-width: 1000px) {
    html {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 14px;
    }
  }
#main-color{
    background-color: brown;
}


/* Header */

.header{
    display:block;
    text-align: justify;
    text-align: center;
    background-color: #B2BDA0;
    margin: 5rem 38rem 0rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    border: 1px solid black;
}

.header h1{
    font-family: 'IBM Plex Serif', serif;
    font-size: 3rem;
}

.header h2{
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
}
@media only screen and (max-width: 550px) {
    .header{
      flex-direction: column;
      margin: 20rem 0 0 0;
      padding: 0;
      
    }
  
  }
/* Navigation */

.nav ul{
    margin: 0 6.8rem 0 0;
}

.nav {
    border-bottom: 1px solid black;
    width: 100%;
    height: 2.8rem;
    top: 0px;
    background-color: #8D9E6F;
    text-align: center;
    position: fixed;
    box-shadow: 0 2px;
    font-size: 20px;

    
}

.nav li{
    display: inline;
    
}

.nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: black;
    border-right: 2px solid black;
    font-family: 'Signika', sans-serif;
    font-weight: 300;
    
}

.nav #contact{
border-right: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .5);
    
}

#home{
    float: left;
    border-right: none;
    padding-left: 0;
    margin-left: 0;
}

@media screen and (max-width: 600px) {
    .nav a {
      float: left;
      width: 100%;
      
    }

    .nav{
        position: absolute;
    }
  }

/* About Me */

.about-me {
    display: block;
    text-align: justify;
    border-radius: 10px;
    margin:2rem 38rem 2rem 38rem;   
    padding: 3rem;
    border: 1px solid black;
    background-color: #8D9E6F;
    box-shadow: 5px 5px;
    font-size: 1.1rem;
    font-family: 'Bitter', serif;
}
.about-me p, strong, em{
    font-family: 'Bitter', serif;
}



.about-me img{
    border-radius: 50%;
    border: 1px solid black;
    float:left;
    margin-right: 2rem;
    
    
}
@media only screen and (max-width: 550px) {
    .about-me{
      flex-direction: column;
      margin: 2rem 0 0 0;
      padding: 0;
      
    }
}
/* Working */

.date{
    font-style: italic;
}

.calification{
    font-weight: bold;
}

/* Container */

.container{
    
    border-bottom: 1px dotted black;
    margin-bottom: 1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 18px;
    
    
}

.container-main{
    display:block;
    text-align: center;
    background-color: #B2BDA0;
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    border: 1px solid black;
    
}

.container-main h2{
    border-bottom: 1px solid black;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 0.5rem 0 2rem 0;
    font-family: 'Bitter', serif;
}

.container-main .date, .calification, p{
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
}

.container:last-child{
    border-bottom: none;
}

@media only screen and (width < 750px) {
    .container-main{
      height: 35rem;
      margin: 4rem 0 0 0;
      padding: 0rem;
    }
}



/* Education */


    
/* Courses */


.courses p{
    font-weight: bold;
}

.courses:last-child{
    border-bottom: none;
}


/* Digital skills*/

/*.digital-skills{
    display: block;
    text-align: center;
    background-color: #B2BDA0;
    margin: 0rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    font-size: 18px;
    border: 1px solid black;
    word-spacing: 1px;
    letter-spacing: 1px;
}
*/
    


/* Languages */

.table th, .table td{
    margin: 2rem auto 1rem auto;
    font-size: 20px;
    padding: .5rem;
    
}

table, th, td{
    border: 1px solid black;
}



/* Footer */

.footer{
    display: block;
    background-color: #8D9E6F;
    height: 4.2rem;
    border-top: 1px solid black;
    width: 100%;
    box-shadow: 2px 0px;
    font-size: 20px;
   
}

.images-container {
        float: right;
 }

.footer img{
    margin-top: 0.8rem;
    margin-right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
   
}
.footer .contact-me{
    margin-right: 2rem;
    float:right;
}


.footer .by{
    
    font-style: italic;
    
}

@media screen and (max-width: 300px) {
    .footer {
      
      width: 100%;
      
    }

  }

