a {
    display: block;
    width: 300px;
    padding: 31px 5px;
    border-radius: 5px;
    margin: 20% auto;
    background-color: orange;
    text-align: center;
    font-family: Helvetica;
    font-size: 32px;
    color: mintcream;
    transition-property: background-color;
    transition-duration: 0.75s;
  }
  
  a:hover {
    background-color: limegreen;
  }
  