body {
    font-family: 'Roboto Mono', monospace;
  }
  
  h2 {
    text-align: center;
    font-size: 18px;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgrey;
    width: 400px;
    height: 700px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: dodgerblue;
    border: 1px solid white;
  }
  
  .child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    background-color: whitesmoke;
    border: 1px solid snow;
  }
  