* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    box-sizing: inherit;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  *:focus {
    outline: none;
  }
  
  html {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5 {
    display: block;
    font-weight: 400;
  }
  
  li, span, p, a, h1, h2, h3, h4, h5 {
    line-height: 1;
  }
  
  a {
    text-decoration: none;
  }