/* Universal Styles */

html{
    font-size: 16px;
  }
  
  body {
    background-color: white;
  }
  
  .image-container {
    
  }
  
  .image-container img {
    
  }
  
  /* Banner Section */
  
  #banner {
    
    background-image: url('camel-background.png');
    background-position: center;
    
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #banner h1 {
    font-size: 3.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
  }
  
  /* Blog Post */
  
  #blog {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #blog .post {
    
    
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    color: #444444;
  }
  
  .post h2 {
    font-size: 1.875rem;
    
  }
  
  .post h3 {
    font-size: 1.125rem;
    color: #999999;
  }
  
  .post .opening-line {
    margin-top: 4.1875rem;
    margin-bottom: 1.5rem;
    color: black;
    font-weight: bold;
  }
  
  .post .image-container {
    
  }
  
  /* Blog Images */
  
  .images {
    
  }
  
  .images .image-container {
    display: inline-block;
    
  }
  
  /* Footer */
  
  footer {
    padding: 4rem 0;
    border-top: 1px solid #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #999999;
    text-align: center;
  }