html {
    height: 100%
  }
  
  body {
    height: 100%;
    margin: 0;
  }
  /* scale */
  p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  a {
    text-decoration: none;
  }
  
  input[type='text'] {
    display: block;
    width: 100%;
    border-color: #808080;
    outline: none;
    border-style: solid;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  nav {
    background: lightgray;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  h2 {
    margin: 0
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000
  }
  
  .page-container {
    padding: 30px;
    display: flex;
    height: 90%;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  .form-title {
    text-align: center;
    box-sizing: border-box;
  }
  
  .instructions {
    text-align: justify;
  }
  
  .form-container {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .survey-form {
    background: #D3D3D3;
    color: #C4C4C4;
    display: flex;
    flex: 2;
    flex-direction: column-reverse;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 20px;
  }
  
  .survey-btn-container {
    display: flex;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px;
  }
  
  .btn {
    height: 50px;
    width: 47%;
  }
  
  .protected-link-container {
    text-align: right;
    padding: 20px 0;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container label {
    padding: 5px 0;
    font-size: 20px;
  }