.container {
    display: grid;
    max-width: 900px;
    position: relative;
    margin: auto;
    gap: 10px;
    grid-template-areas: 
    'header header'
    'nav nav'
    'left right'
    'footer footer';
    grid-template-columns: 200px 400px;
    grid-template-rows: 150px 200px 600px 200px;
                                      
  }
  
  h1, h2 {
    font-family: monospace;
    text-align: center;
  }
  
  header {
    grid-area: header;
    background-color: dodgerblue;
  }
  
  nav {
    grid-area: nav;
    background-color: beige;
  }
  
  .left {
    grid-area: left;
    background-color: dodgerblue;
  }
  
  .right {
    grid-area:right;
    background-color: beige;
  }
  
  footer {
    grid-area:footer;
    background-color: dodgerblue;
  }