html {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.header {
    display: flex;
    position: fixed;
    padding-top: 9px;
    padding-bottom: 9px;
    background: black;
    width: 100%;
    height: 69px;
    z-index: 2;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.35em;
}

.tealogo img {
    display: flex;
    position: relative;
    padding-top: 9px;
    padding-left: 10px;
    height: 50px;
    width: 167px;
    
}


.headerlist {
    display: flex;
    width: 450px;
    height: 69px;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 9px;
    padding-right: 10px;
    text-decoration: underline;
    font-weight: lighter;
    padding-right: 1.5rem;
}

.missioncontainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url(resources/images/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1200px 700px;
    height: 700px;
    width: 100%;
}

.missiontext {
    background: black;
    display: flex;
    flex-flow: column;
    padding: 5px 5px;
    position: absolute;
    width: 1200px;
    height: 140px;
    align-content: center;
    justify-content: space-around;
    margin: 0 auto;
}


.teamonth {
 display: flex;
 position: relative;
 flex-direction: column;
 width: 100%;
 height: 700px;
 top: 100px;
 align-items: center;
 justify-content: space-evenly;
}


.teamonthtext {
    background: black;
    display: flex;
    flex-flow: column;
    padding: 5px 5px;
    position: relative;
    justify-content: space-around;
    align-content: center;
    width: 1000px;
    height: 140px;
    
}

.teamonthcontainer {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: space-evenly;
    width: 1000px;
    height: 600px;
}

.imgcontainer1 {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    
}

.imgcontainer1 img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    left: 150px;
}

.imgcontainer2 {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    
}

.imgcontainer2 img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    left: 200px;
}

.imgcontainer3 {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    
}

.imgcontainer3 img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    left: 250px;
}

.imgcontainer4 {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    top: 300px;
    right: 300px;
}

.imgcontainer4 img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
}

.imgcontainer5 {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    top: 300px;
    right: 250px;
   
}

.imgcontainer5 img {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
}

.locations {
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(resources/images/img-locations-background.jpg);
    background-position-y: 10em; 
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1200px 800px;
    height: 800px;
    width: 100%;
    top: 200px;
}

.locationstext {
    display: flex;
    position: relative;
    top: 6em;  
}

.locationscontainer {
    display: flex;
    position: relative;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 1000px;
    top: 8em;
}

.downtowncontainer {
    display: flex;
    flex-direction: column;
    background: black;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.baysidecontainer {
    display: flex;
    flex-direction: column;
    background: black;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}


.oakdalecontainer {
    display: flex;
    flex-direction: column;
    background: black;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.teacozycontact {
    background: black;
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    top: 19em;
}

.footer {
    display: flex;
    position: relative;
    height: 50px;
    width: 1000px;
    top: 25em;
    left: 20px;
}