*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

h2{
    border-bottom: 1px solid black;
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

#main-color{
    background-color: brown;
}

/* Navigation */

.nav ul{
    margin: 0;
}

.nav {
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 3rem;
    width: clamp(50%, 100%, 100%);
    height: 2.5rem;
    top: 0px;
    background-color: aquamarine;
    text-align: center;
    position: fixed;
    box-shadow: 0 2px;
    font-size: 25px;

    
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    color: black;
    border-right: 2px solid black;
    
}

.nav #edu{
border-right: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .5);
    
}

/* Main */

.about-me {
    display: block;
    text-align: justify;
    border-radius: 10px;
    margin:4rem 38rem 2rem 38rem;
    padding: 3rem;
    background-color: aquamarine;
    box-shadow: 5px 5px;
    font-size: 20px;
}


.about-me img{
    border-radius: 50%;
    border: 1px solid black;
    float:left;
    margin-right: 2rem;
    
    
}

/* Working */

.working-experience{
    display: block; 
    text-align: center;
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    border-bottom: 1px thin black;
    background-color: aqua;
    box-shadow: 5px 5px;
    
}

.date{
    font-style: italic;
}

.calification{
    font-weight: bold;
}

.location{
    border-bottom: 1px dotted black;
    margin-bottom: 1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-size: 20px;
}

.location:last-child{
    border-bottom: none;
}

/* Education */

.education{
    display:block;
    text-align: center;
    background-color: rgb(124, 189, 247);
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    
}

/* Courses */

.courses-main{
    display:block;
    text-align: center;
    background-color: rgb(80, 185, 132);
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    
}

.courses p{
    font-weight: bold;
}

.courses:last-child{
    border-bottom: none;
}


/* Digital skills*/

.digital-skills{
    display:inline-block;
    text-align: center;
    background-color: rgb(95, 78, 245);
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    font-size: 20px;
    
}

/* Languages */

.languages{
    display:block;
    text-align: center;
    align-items: center;
    justify-items: center;
    background-color: aliceblue;
    margin: 2rem 38rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
    
}

.table{
    margin: 2rem auto 0 auto;
    font-size: 20px;

}

table, th, td{
    border: 1px solid black;
}