html{
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    html {
      font-size: 16px;
    }
  }
  
@media only screen and (max-width: 680px) {
    html {
      font-size: 14px;
    }
}

body{
    background-color: rgb(254, 231, 218);
}

/*Header*/

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 4.44rem;
    padding: 0 12%;
    background-color: beige;
    box-shadow: 0px 2px 5px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .77rem;
    font-weight: bold;
    position: fixed;
    width: 75%;
    top: 0;
    z-index: 1;
}

.header .hash{
    flex-grow: 1;
    color: black;
    
}

.header li{
    display: inline;
    padding-right: 2rem;
}
.header li a{
    text-decoration:none;
    color: #4a4a4a;
}

@media only screen and (max-width: 550px) {
    .header {
      flex-direction: column;
    }
  
    .header .logo {
      flex-grow: 0;
    }
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background: url('images/lv.jpg');
    background-size: cover;
    color: beige;
    
}

.banner h2{
    padding: .55em 0;
    border-top: 4px solid #ffb78c;
    border-bottom: 4px solid #ffb78c;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500px;
    font-family: 'Work Sans', "Arial", sans-serif;
}

.banner h1{
    padding-top: 1.11rem;
    font-size: 11rem;
    font-weight: 900;
    font-family: "Abril Fatface", sans-serif;
}




@media only screen and (max-width: 750px) {
    .banner {
      height: 40rem;
    }
  
    .banner h1 {
      font-size: 8rem;
    }
  }
  
  @media only screen and (max-width: 530px) {
    .banner {
      height: 30rem;
    }
  
    .banner h1 {
      font-size: 6rem;
    }
}

  /* About */

  .about{
    padding: 1rem 25% 4rem 25%;
    background-color: rgb(254, 231, 218);
    color: #4a4a4a;
    font-family: 'Work Sans', serif;
  }

  .about .caption{
    font-style: italic;
    font-family: 'Merriweather', serif;
  }
  .about p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 2.77rem;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: justify;
  }

  .about .lv{
    
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 4rem;
    color: rgb(53, 12, 12);
    
  }
  .quote{
    display:block;
    padding: 4.44rem 0;
    margin-bottom: 3.33rem;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
    font-size: 2.55rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .by{
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
  }

    /* History */


  
  .photo{
    width: 75%;
    padding: 1.11rem;
    border-radius: 25px;
    margin: 0 auto 4.44rem auto;
    background-color: #8f7e74;
  }

  .history h2{
    padding: .55em 0;
    text-align:center;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 500px;
    font-family: 'Work Sans', "Arial", sans-serif;
    color:beige;
  }

  .photo .image-container{
    overflow: hidden;
    margin-bottom: 1.11rem;
  }

  .photo .image-container img{
    width: 100%;
  }

  .photo .caption{
    font-style: italic;
    font-family: 'Merriweather', serif;

  }

    .first-photo{
    position: relative;
    top: -2.77rem;
    margin-bottom: 1.60rem;
  }
  .history p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding-top: 2.77rem;
    text-align: justify;
    line-height: 1.4;
  }

  @media only screen and (max-width: 680px) {
    .journal, .history {
      padding: 0 10% 4rem 10%;
    }
}


  

  

  /* Footer */

  footer{

  }