.grid {
    border: 2px blue solid;
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: 100px 50% 200px;
  }
  
  .box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }